body{

background:#080b12;
color:white;
font-family:Arial;
margin:0;

}


header{

padding:20px;

background:#111824;

display:flex;

justify-content:space-between;

align-items:center;

}


h1 span{

color:#3fd7c7;

}


input,
select,
button{

background:#182131;

color:white;

border:1px solid #344056;

padding:10px;

border-radius:10px;

}


.toolbar{

padding:20px;

display:flex;

gap:10px;

flex-wrap:wrap;

}



#grid{

padding:20px;

display:grid;

grid-template-columns:
repeat(auto-fill,minmax(190px,1fr));

gap:15px;

}



.card{

background:#121722;

border-radius:15px;

overflow:hidden;

}



.card img{

width:100%;

height:220px;

object-fit:contain;

background:#202b3d;

}



.info{

padding:12px;

}



.rarity{

font-weight:bold;

}
